
 .hi{
    align-items:center;
    text-align:center;
    color:rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    width: 1000px;
    justify-content: space-between;
    font-size: 20px;
  
    
  }
  .main{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
  }